@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,200;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* ======================
      General Page styling 
  =======================*/
.page-layout {
  display: grid;
  grid-template-columns: 222px auto;
  grid-template-rows: auto 93px;
  grid-template-areas:
    "SideBar App"
    "Player  Player";
  height: 100vh;
  min-height: 444px;
}

.sidebar {
  grid-area: SideBar;
}
.playbar {
  grid-area: Player;
}

.page {
  grid-area: App;
  min-width: 777px;
  overflow-y: scroll;
}
.page::-webkit-scrollbar {
  width: 15px;
}
.page::-webkit-scrollbar-thumb {
  background: rgba(134, 154, 175, 0.666);
  border-radius: 33px;
  box-shadow: inset rgba(255, 255, 255, 0.777) 0 0 2px 1px;
}
.page::-webkit-scrollbar-thumb:hover {
  background: rgba(134, 154, 175, 1);
  box-shadow: inset rgba(255, 255, 255, 1) 0 0 2px 1px;
}

/* ======================
      Sidebar styling 
  =======================*/
/* sidebar-navigation-typography */
.logo-title {
  color: white;
  letter-spacing: 0.666px;
  font-size: 22px;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
}
.logo-colour-change {
  color: #e0ab8a;
}
.sidebar-navigation li {
  list-style-type: none;
}
.navigation-links {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-decoration: none;
}
/* Logo */

/* sidebar-Layout */
.resonate-logo {
  padding: 0.33em 0.66em;
  border-radius: 16px;
  background: #251d17;
  margin-top: 2.2em;
}
.beta-div {
  font-size: 15px;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: #e0ab8a;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./background-images/navBackground.png);
  position: relative;
}
/* sidebar-navigation-layout  */
.sidebar-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background: rgba(126, 97, 83, 0.41); */
  width: 186px;
  position: absolute;
  left: 20px;
  top: 125px;
  padding: 0;
}
.navigation-links {
  /* im becoming a god!! I was able to fix the issue by putting inline block */
  width: 186px;
  padding: 1em;
  background: #4b3931;
  border: none;
}
.nav-link-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "Logo Link";
}
.nav-icon {
  grid-area: Logo;
  justify-self: center;
}
.nav-link-text {
  grid-area: Link;
  align-self: center;
  margin-left: 0.69em;
}
/* navigation hover effects */
.navigation-links:hover,
.navigation-links:focus {
  background-color: rgba(160, 148, 142, 0.5);
}
.navigation-links:hover .nav-icon,
.navigation-links:focus .nav-icon {
  transform: scale(1.369);
}

.active-page {
  background: rgb(109, 94, 88);
}

/* ======================
      PlayBar styling 
  =======================*/
/* playbar-typography */
.song-info {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.song-title {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.song-artist {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.song-frequency {
  color: #251d17;
  font-weight: 900;
  font-style: italic;
  font-size: 15px;
}
.time {
  color: rgb(180, 180, 180);
}

/* playbar-layout  */
.playbar {
  background: #4b3931;
  padding: 0.5em;
  width: 100%;
}
.playbar-wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 0.5fr;
  grid-template-areas: "Song-Info Media-Controls Other-Controls ";
  align-items: center;
}
/* title and artist */
.song-details-wrapper {
  grid-area: Song-Info;
  display: flex;
  align-items: center;
  margin-left: 17px;
}
.song-info {
  display: flex;
  justify-content: space-between;
  margin-left: 22px;
  height: 77px;
  align-items: center;
  max-width: 500px;
}

.song-title-artist {
  max-width: 399px;
}

.media-controls-wrapper {
  grid-area: Media-Controls;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  width: 515px;
  justify-content: space-evenly;
  position: relative;
}
.other-controls-wrapper {
  grid-area: Other-Controls;
  justify-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
}
/* playbar-icons */

.outter-icons {
  color: #e3e1e1;
}
.mainPlay-icon,
.inner-icons {
  color: #ffffff;
}
.playbar-icon:hover {
  color: #e0ab8a;
}
.mainPlay-icon:hover {
  transform: scale(1.11);
}
.volume-control {
  margin: 0px 11px;
  margin-left: 44px;
  display: flex;
}
.slider {
  /* removes default browser styling */
  -webkit-appearance: none;
  outline: none;
  border-radius: 11px;
  opacity: 0.7;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
}
.volume-slider {
  height: 11px;
  margin-top: 11px;
  margin-left: 9px;
}
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
/* playbar-slider hovers */
.volume-slider:hover.volume-slider::-webkit-slider-thumb {
  background: #e0ab8a;
}
.volume-slider::-webkit-slider-thumb:hover {
  opacity: 1;
}
/* playbar-icons */
.fullscreen-icon {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
.queueIcon {
  margin: 0 10px;
}
.other-controls-icon {
  color: rgb(202, 202, 202);
}
.other-controls-icon:hover {
  color: #e0ab8a;
}
.sound-icon {
  color: rgb(202, 202, 202);
}
.sound-icon:hover {
  color: #ffffff;
}

/* repeat button effects*/
.repeat-button,
.fs-repeat-button {
  position: relative;
}
.show-repeat {
  color: #d1a081;
}

.fs-repeat-circle,
.fs-repeat-infinite,
.repeat-circle,
.repeat-infinite {
  display: none;
}
/* adjust colour */
.fs-repeat-circle.show,
.fs-repeat-infinite.show,
.repeat-circle.show,
.repeat-infinite.show {
  background-color: #d1a081;
  border-radius: 50%;
  position: absolute;
}
.fs-repeat-circle.show,
.repeat-circle.show {
  display: block;
  width: 6px;
  height: 6px;
  left: 14.5px;
}
.fs-repeat-infinite.show,
.repeat-infinite.show {
  display: flex;
  width: 15px;
  height: 15px;
  top: 1px;
  right: 0;
  color: white;
  justify-content: center;
  align-items: center;
}

/* shuffle animation */
.playerOffShuffle.highlight {
  color: #d1a081;
}

/* background on seekbar */
.playbar-decor {
  position: absolute;
  top: -44px;
}
.seekbar-wrapper {
  position: absolute;
  top: -39px;
}
.seek-slider {
  width: 425px;
  height: 7px;
  opacity: 1;
  background: rgb(222, 222, 222);
}
.seek-slider::-webkit-slider-thumb {
  background: rgb(224, 171, 138);
  height: 16px;
  width: 16px;
}
.seek-slider::-webkit-slider-thumb:hover {
  background: rgb(182, 130, 98);
  height: 18px;
  width: 18px;
}

.song-image {
  height: 66px;
  width: 66px;
  object-fit: cover;
}

/* ======================
      SongPage styling 
  =======================*/
/* SongPage-typography */
.page-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
}
.btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
}
.play-btn {
  color: #03254a;
}
.upload-btn {
  color: #ffffff;
}
.heading-style {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.666);
}
#filterSearch {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.songName,
.songArtist,
.songFrequency {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffffea;
}

/* SongPage-Layout */
.page-background {
  display: flex;
  align-items: flex-start;
  background: #03254a;
  padding: 0.5em 2.5em;
}
.page-pannel {
  display: flex;
  flex-direction: column;
  background: rgba(241, 241, 241, 0.22);
  width: 100%;
  padding: 1em 0;
  margin-top: 33px;
  margin-bottom: 222px;
}
.pannel-header {
  padding: 0 3em 3em 3em;
}
.page-buttons {
  display: flex;
}
.page-title {
  margin-bottom: 1em;
}
.btn {
  display: flex;
  align-items: center;
  padding: 10px 44px;
  border: none;
  border-radius: 25px;
  opacity: 0.88;
  position: relative;
  cursor: pointer;
}
.play-btn {
  padding-left: 55px;
  padding-right: 55px;
  background: rgb(255, 255, 255);
  margin-right: 2em;
}
.upload-btn {
  background: #03254a;
}
.upload-icon,
.play-icon {
  display: none;
  position: absolute;
}
/* button hovers */
.play-btn:hover,
.upload-btn:hover,
.play-btn:focus,
.upload-btn:focus {
  transform: scale(1.12);
  opacity: 1;
}
.upload-btn:hover .upload-icon,
.upload-btn:focus .upload-icon,
.play-btn:hover .play-icon,
.play-btn:focus .play-icon {
  display: block;
  left: 55px;
}
.upload-btn:hover .button-text,
.upload-btn:focus .button-text,
.play-btn:hover .button-text,
.play-btn:focus .button-text {
  opacity: 0;
}
/* filter-song search bar */
.filterSongs {
  margin: 3em 0;
  position: relative;
}
#filterSearch {
  background: none;
  border: none;
  margin-left: 2em;
}
#filterSearch::placeholder {
  color: white;
  opacity: 0.666;
}
.search-Icon {
  position: absolute;
  color: rgba(255, 255, 255, 0.666);
  margin-right: 0.7em;
}

/* Display Songs */
.displaySong-head,
.songCard {
  padding: 1em 0em;
  border-bottom: 1px solid white;
  position: relative;
}
.songCard:hover {
  background: #74889e;
}
.songCard:hover .playSong-icon {
  display: block;
}
.playSong-icon {
  position: absolute;
  top: 12px;
  left: 22px;
  color: #ffffff;
  display: none;
}
.playSong-icon:hover {
  transform: scale(1.2);
}

.displaySong-container {
  display: grid;
  padding: 0 5.5em;
  grid-template-columns: 1.85fr 1.5fr 0.2fr;
}

.add-toQueue {
  position: absolute;
  right: 22px;
}

/*===================
    Queue Page
====================== */
/* typograghy */
.queue-container {
  color: white;
}
.now-playing {
  letter-spacing: 1px;
  margin-bottom: 1em;
}
.up-next {
  margin: 2em 0 1em 0;
}
/* layout */
.queue-container {
  margin-top: 2em;
}
.queue-song-container {
  /* change to grid */
  display: grid;
  grid-template-columns: 77px 2.5fr 2.5fr 0.5fr;
  grid-template-areas: "SongImage SongName SongArtist Frequency";
  background-color: #74889e70;
  padding: 0.5em 1em;
  align-items: center;
  margin-bottom: 0.5em;
}
.queue-image-container {
  position: relative;
  grid-area: SongImage;
}
.queue-play-icon {
  position: absolute;
  opacity: 0;
  background: rgba(0, 0, 0, 0.777);
  left: 0;
  padding: 0.88em;
  height: 77px;
  width: 77px;
}
.queue-song-image {
  height: 77px;
  width: 77px;
  object-fit: cover;
}
.queue-song-name {
  grid-area: SongName;
  padding-left: 2em;
}
.queue-song-artist {
  grid-template-areas: SongArtists;
}
.queue-song-frequency {
  grid-template-areas: Frequency;
}
.page-background {
  display: block;
}
/* queue song hover */
.queue-image-container:hover .queue-play-icon {
  opacity: 1;
}
.queue-song-container:hover {
  background-color: #9fb9dba2;
}

.queuePage-message {
  display: flex;
  align-items: baseline;
}

.queue-title {
  margin-right: 1em;
}

/* ===================
    FullScreen Mode Small Screens
====================== */
/* fs-typography */
.fs-songTitle,
.fs-songArtist {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}
.fs-Time {
  color: rgb(222, 222, 222);
  font-style: italic;
}
.fs-songTitle {
  letter-spacing: 0.1em;
  font-size: 36px;
  line-height: 56px;
}
.fs-songArtist {
  letter-spacing: 0.05em;
  font-size: 18px;
  line-height: 28px;
}
/* fs-layout */
.fs-background {
  background: url(./background-images/fullscreen-background-new.png);
  background-position: 155px;
  height: 100vh;
  width: 100vw;
  display: none;
  /* overflow-y: hidden;
  overflow-x: hidden;
  min-height: 555px;
  min-width: 1330px;
  */
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
}
.fs-background.show {
  display: block;
}
.fs-container {
  position: relative;
  top: 33px;
  left: 66px;
  height: 80%;
  width: 88%;
  min-height: 444px;
  min-width: 888px;
  display: grid;
  grid-template-columns: 1.5fr 2fr 0.5fr;
  grid-template-areas: "Col-1 Col-2 Col-3";
}
.fs-col-1 {
  grid-area: Col-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fs-col-2 {
  grid-area: Col-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 3.3em;
}
.fs-col-3 {
  grid-area: Col-3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-left: 4em;
}
/* col-1 styling */
.fs-songImage {
  background: white;
  height: 396px;
  width: 396px;
  object-fit: cover;
  border-radius: 5%;
}
/* col-2 styling */
.fs-title-artist {
  margin-bottom: 4em;
}
.fs-songTitle {
  margin-bottom: 16px;
}
.fs-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 444px;
}
.fs-seek-slider {
  position: absolute;
  top: -10px;
  margin-bottom: 4.4em;
  width: 444px;
}
.fs-media-controls {
  position: relative;
}
.fs-songTime {
  width: 444px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}
/* col-3 styling */
.icon-background {
  background: rgba(255, 255, 255, 0.222);
  padding: 0.22em;
  color: rgb(222, 222, 222);
  margin-right: 3.3em;
}
.icon-background:hover,
.icon-background:focus {
  background: rgba(255, 255, 255, 0.444);
  color: rgb(255, 255, 255);
}

.small-view-slider {
  transform: rotate(180deg);
}
.fs-sound-button {
  position: relative;
}
.fs-volume-slider-box {
  transform: rotate(90deg);
  width: 144px;
  height: 39px;
  background: rgba(255, 255, 255, 0.222);
  position: absolute;
  top: -91px;
  left: -52px;
  display: none;
}
.fs-volume-slider-box.show {
  display: block;
}
.fullscreen-exit {
  background: rgba(255, 255, 255, 0.222);
  padding: 0.22em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(222, 222, 222);
}

@media screen and (min-width: 1500px) {
  .fs-songImage {
    width: 444px;
    height: 416px;
  }
  .fs-col-2 {
    margin-left: 5em;
  }
}

/* ========================
  FullScreen Large Screens
  =========================*/

@media screen and (min-height: 666px) {
  .fs-songImage {
    width: 404px;
    height: 404px;
  }
}

@media screen and (min-height: 777px) {
  .fs-background {
    padding: 2em;
  }
  .fs-small-view-wrapper {
    grid-template-columns: auto;
    grid-template-areas:
      "Col-1"
      "Col-2"
      "Col-3";
    min-width: none;
  }
  .fs-songImage {
    width: 555px;
    height: 416px;
    margin-left: 33px;
  }
  .fs-col-2 {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fs-title-artist {
    text-align: center;
  }
  .fs-col-2 {
    margin-left: 0em;
  }
  /* large screen icons */
  .fullscreen-exit {
    top: -50px;
    right: -33px;
  }
  .fs-queue-icon-largescreen {
    right: -33px;
    top: -150px;
  }
  .fs-sound-button {
    right: -33px;
    top: -250px;
  }
}
@media screen and (min-height: 800px) {
  .fs-col-2 {
    margin-top: 3.3em;
  }
}

/* ========================
      Home Page
  =========================*/

/* typography */

.section-title {
  font-size: 33px;
  color: white;
}
.card-name,
.card-artist,
.card-frequency {
  color: white;
}
/* layout */
.homePage-background {
  background: url(./background-images/home.png);
  background-size: cover;
  background-position: bottom;
  padding: 125px 2em 2em 2em;
}
.section-container {
  background: rgba(196, 196, 196, 0.33);
  padding: 2em 3em;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
}
/* Song Cards */
.card-container {
  padding: 1em;
  background: #7a5d50;
  border-radius: 15px;
  position: relative;
}
.card-image {
  width: 123px;
  height: 123px;
  object-fit: cover;
}
.home-song-card-info {
  display: flex;
  flex-direction: column;
  height: 66px;
  justify-content: space-around;
}
.songCard_PlayIcon {
  color: white;
  font-size: 55px;
  position: absolute;
  top: 77px;
  left: 50px;
  display: none;
}
.hover-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.666);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  display: none;
}

.card-container:hover .hover-container,
.card-container:hover .songCard_PlayIcon {
  display: block;
}

/* =====================
    Anime Page
  ======================*/
/* typography */
.dub-title {
  color: white;
  font-size: 22px;
}
.sub-heading {
  font-size: 11px;
  letter-spacing: 1px;
}
.opening-name,
.opening-anime {
  color: white;
  font-weight: 400;
}
/* layout */
.dub-pannel {
  margin-bottom: 55px;
}
.dub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Dub-card {
  position: relative;
}
.song-dub-title {
  text-align: center;
  padding: 0.5em 0;
}

.anime-dub-img {
  height: 144px;
  width: 144px;
}
.Dub-card:hover .play-hoverEffect-dub {
  display: block;
}
.Dub-card:hover .play-dub-song {
  display: block;
}

.play-hoverEffect-dub {
  position: absolute;
  background: black;
  height: 215px;
  width: 192px;
  top: -16px;
  left: -27px;
  opacity: 0.7;
  display: none;
}
.play-dub-song {
  position: absolute;
  width: 66px;
  height: 66px;
  color: white;
  right: 66px;
  bottom: 77px;
  display: none;
}
.sub-card {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0;
}

/* anime-page sub songs */
.anime-opening-pannel {
  margin-bottom: 3em;
}
.anime-page-buttons {
  padding: 1em;
}
.sub-card {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  align-items: center;
  padding-left: 2.2em;
}
.anime-heading-title {
  margin-left: 5em;
}
.opening-name {
  margin-left: 2em;
}
.opening-anime {
  margin-left: 5em;
}
.opening-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 5px;
}
.sub-heading {
  display: flex;
  color: white;
  padding: 1em 0em;
  border-bottom: 1px solid white;
  margin: 2em 0;
  justify-content: space-around;
}

/* sub opening cards */
.col-A {
  position: relative;
}
.play-hoverEffect-sub {
  position: absolute;
  background: black;
  height: 100px;
  width: 100px;
  top: 0;
  opacity: 0.666;
  display: none;
}
.play-sub-song {
  color: white;
  font-size: 55px;
  position: absolute;
  left: 20px;
  bottom: 25px;
}
/* sub opening hover */
.sub-card:hover {
  background: #74889e;
}
.sub-card:hover .play-hoverEffect-sub {
  display: block;
}

/* Sleep Page */
.music-link {
  display: inline-block;
  background: white;
  margin: 0.5em;
}

/* Sleep page */
.sleep-card {
  background: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: center;
}
.sleep-img {
  height: 200px;
  width: 200px;
  margin-bottom: 0.5em;
}
.music-link {
  font-size: 22px;
}
.sleep-pannel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
